body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}

header {
    background-color: #E44C1A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

.contenido {
    width: 65%;
}

.contenido h2 {
    color: #E44C1A;
    margin-top: 30px;
}

.contenido ul {
    list-style-type: disc;
    padding-left: 20px;
}

.sobre-mi {
    background-color: #E44C1A;
    color: white;
    width: 28%;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    height: fit-content;
}

.sobre-mi h3 {
    margin-top: 0;
}

footer {
    background-color: #E44C1A;
    height: 25px;
    margin-top: 40px;
}